<div class="admin">
    <header class="admin__header">
        <a href="#" class="logo">
            <h1>Insights</h1>
        </a>
        <!-- <div class="toolbar">
        <button class="btn btn--primary">Add New Plumbus</button>
        <a href="#" class="logout">
          Log Out
        </a>
      </div> -->
    </header>
    <nav class="admin__nav">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link" href="/dashboard">Dashboard</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="/plans">Plans</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="/subscribers">Subscribers</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="/call-records">Call Records</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="/sms-records">SMS records</a>
            </li>
            <!-- <li class="menu__item">
          <a class="menu__link" href="#">Plumbuses</a>
        </li> -->
        </ul>
    </nav>
    <main class="admin__main">



        <div class="dashboard">
            <div class="dashboard__item">
                <h1 >Subscriber Usage Details</h1>
                <div class="card">
                    <div>
                    <p> <strong>ID: </strong>{{subscriberUsage.id}} </p>
                    <p><strong>Subscriber ID:</strong> {{ subscriberId }}</p>
                    <p><strong>Data Left:</strong> {{ subscriberUsage.dataLeft }} MB</p>
                    <p><strong>SMS Left:</strong> {{ subscriberUsage.smsLeft }}</p>
                    <p><strong>Talk Time Left:</strong> {{ subscriberUsage.talkTimeLeft }} minutes</p>
                    <p><strong>Unlimited Calls:</strong> {{ subscriberUsage.unlimitedCalls ? 'Yes' : 'No' }}</p>
                    <p><strong>Validity:</strong> {{ subscriberUsage.validity }} days</p>
                    <p><strong>Renewal Type:</strong> {{ subscriberUsage.renewalType }}</p>
                </div>

                </div>
            </div>
            <div class="dashboard__item ">
                <div class="card" *ngIf="dataLeft">


                    <div>
                        <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" [type]="pieChartType"
                            [legend]="pieChartLegend" [plugins]="pieChartPlugins">
                        </canvas>
                    </div>
                    <p> {{ (dataLeft.dataLeft / dataLeft.totalData * 100) | number:'1.0-1' }}% Data Left </p>


                </div>
            </div>

        </div>




    </main>
</div>