<div *ngIf="subscriberResponse && subscriberResponse.length > 0">
    <h1>Subscribers</h1>
    <table>
        <thead>
            <tr>
                <th>Subscriber ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Plan Name</th>
                <th>Plan type</th>
                <th>Location Based Pricing</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subscriber of subscriberResponse">
                <td>{{ subscriber.subscriber.subscriberID }}</td>
                <td>{{ subscriber.subscriber.name }}</td>
                <td>{{ subscriber.subscriber.phoneNumber }}</td>
                <td>{{ subscriber.subscriber.location }}</td>
                <td>{{ subscriber.subscriber.planName }}</td>
                <td>{{subscriber.planType}}</td>
                <td>{{ subscriber.locationBasedPricing }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="subscriberResponse && subscriberResponse.length === 0">
    <p>No subscribers found.</p>
</div>